/* jemně zelený vzhled */
body {
    background-color: #f4fff0;
  }
  
  .text-primary {
    color: #3ee87f !important;
  }
  
  .btn-primary {
    background-color: #5ae83e;
    border-color: #3ee868;
  }
  
  .btn-primary:hover {
    background-color: #18c218;
    border-color: #40c218;
  }